@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');
.jumbotron h1 {

  }
body {
    color: #777777!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
  color: #777777!important;
}
.desktop-image {
  width:450px!important;
}
.header.dark {
  background: #Fe491a!important;
}
.keeper-icons {
  width:30%!important;
}
.open-sans {
  font-family: 'Open-Sans', sans-serif;
}
.display-nope {
  display: none!important;
}
.font-grey {
  color: #777777!important;
}
.bg-light-grey {
  background: #f1f1f1!important;
}
.keeper-red {
  color:#Fe491a!important;
}
.light-grey-btn {
  background: #777777!important;
  color: #ffffff!important;
}
hr {
  width:7%!important;
  border:solid 2px #Fe491a!important;
}
.form-group label:not(.error) {
  text-align: left!important;

}
.form-group-default .form-control {

}
.padding-1 {
  padding: 1%!important;
}
@media (max-width: 500px) {

.desktop-image {
  width:220px!important;
  margin-top:-80px;
}
.jumbotron h1 {
  font-size: 33px!important;
  line-height: 44px!important;
}
.height-100 {
  height: 100px!important;
}
}
